body{font-family: "宋体" ,Arial, Verdana, Helvetica, sans-serif;;margin:0px auto;font-size:12px;color: #333;  text-align:left; background:#fff;}
form, img, p{margin: 0px auto;border:0px;}
ul, li,ol,dl,dt,dd{margin:0px auto;padding:0px;list-style:none;list-style-position:outside;}
li{background:url(http://www.hie.edu.cn/images/dot.jpg) no-repeat left 8px; padding-left:10px;}
a,input{outline:none;}
a:link, a:visited {color:#333333;text-decoration: none;}
a:hover{color:#0072c6;text-decoration: underline;}
html { overflow-x:hidden;}
em,i{ font-style:normal;}
.left{float: left;}
.right{float: right;}
.clear{clear:both;}
.no_way{clear:both;display:block;overflow:hidden;height:0px;margin:0px;padding:0px;line-height:0; font-size:0;}
h1,h2,h3,h4{margin:0 auto; padding:0;}
h2{ font-size:14px;}
.line_24{ line-height:24px;}
.hide {display:none;}
.border{ border:1px solid #DADEE1;}
.bule_bor{ height:1px; background:#B9D8F7; overflow: hidden;}
.overflow{ overflow:hidden;}

.top_bg{ background:url(http://www.hie.edu.cn/images/top_bg.jpg) repeat-x center top; height:156px; width:100%; margin:0 auto;}
.top{ background:url(http://www.hie.edu.cn/images/top.jpg) no-repeat center top; height:156px; margin:0 auto;}
.nav_bg{ background:url(http://www.hie.edu.cn/images/bg.jpg) repeat-x center top; height:40px; margin:0 auto;}
.nav{font-size:14px;position:relative;z-index:1000; width:1000px; margin:0 auto;height:40px;}  
.nav span{ padding:13px 20px 0; float:left; font-weight:normal; color:#A4C4F5; font-family:"宋体"} 
.nav ul{list-style:none;z-index:9999;}   
.nav li {position:relative;color:#0071C9; padding-left:0; background:none;}   
.nav ul ul {visibility:hidden;position:absolute;left:-25px;top:40px;z-index:9999; border:1px solid #A4C4F5; border-top:none;width:124px; background:#E8F0FD; clear:both; }  
.nav table {position:absolute; top:0; left:0;}   
.nav ul li:hover ul,   
.nav ul a:hover ul{visibility:visible;}   
.nav a{float:left; width:78px; line-height:40px;color:#0072c6;  text-align:center; font-size:14px; text-decoration:none;}
.nav a:hover{background: url(http://www.hie.edu.cn/images/nav.jpg) no-repeat left 6px; color:#FFF;font-weight:bold;}
.nav a.cur{background: url(http://www.hie.edu.cn/images/nav.jpg) no-repeat left 6px; color:#FFF; font-weight:bold;}
.nav ul ul li {font-size:14px;color:#0072c6; float: none;width:124px;}   
.nav ul ul li a{display:block;width:124px; font-size:14px; line-height:34px;font-weight:normal; color:#333;}   
.nav ul ul li a:hover{ display:block; background:#0072C6;color:#fff;font-weight:normal;width:124px; text-decoration: none; }  

.main{ width:1000px; margin:20px auto 0; height:auto; padding:0; clear:both;}


/*定义焦点图容器*/
#player {width:490px;height:300px;}
.picfocus {width:auto;height:auto;overflow:hidden;position:relative;}
.play_list a{ display:block;position:absolute;overflow:hidden;width:100%;height:100%;}
	
/*定义图像说明文字背景*/
.play_bg{position:absolute;bottom:0;background-color:#000;margin-bottom:0px;height:32px;width:100%;filter: Alpha(Opacity=70);opacity:0.7;z-index:1000}	
.play_info{position:absolute;bottom:0px;right:0px;padding:0px;height:32px;line-height:32px;width:96%;color:#fff;z-index:1001;cursor:pointer;font-size:14px;	display:block;font-weight:bold}
/*定义按钮区域位置*/
.play_text {position:absolute;bottom:0;	right:0;height:32px;z-index:1002;margin:0}	
.play_text ul {list-style-type:none;height:25px;display:block;_padding-top:0px;	z-index:1003;margin:0}	
.play_text ul li{width:18px;height:15px;float:left;font-family:'Arial Black';background-color:#927a76;display:block;color:#FFF;text-align:center;margin-left:1px;cursor:pointer;font-family:Arial;font-size:12px;margin-top:9px;list-style:none;padding:0;background-image:none;line-height:16px;}	
/*定义当前焦点图的按钮颜色*/
.play_text ul li.current {background-color:#ff8000;	color:#fff;}	
.play_btn {position:absolute;bottom:0;right:0;height:32px;z-index:1002;margin:0}	
.play_btn ul {list-style-type:none;	height:25px;display:block;_padding-top:0px;z-index:1003;margin:0}	
.play_btn ul li{width:16px;	height:13px;float:left;font-family:'Arial';background-color:#FF9D24;display:block;color:#FFF;text-align:center;margin-left:1px;cursor:pointer;font-size:11px;margin-top:9px; line-height:16px;}	
/*定义当前焦点图的按钮颜色*/
.play_btn ul li.current {background-color:red;color:#fff;}



.w_490{ width:488px; overflow: hidden}
.w_490 ul{ margin:15px 15px 0 20px; line-height:22px;}
.w_490 span{ float:right; display:inline; color:#999; font-size:12px;}
.title{ width:100%; height:35px;}
.title span{ float:right; display:inline; color:#999; font-size:12px;font-weight:normal; padding-right:10px; padding-top:2px;}
.title span a{ text-decoration:none;}
.title h2{ padding-left:40px; padding-top:10px;}
.tit_blue{ background: url(http://www.hie.edu.cn/images/bg_blue.jpg) repeat-x center 1px; border-bottom:1px solid #0073C6;}
.tit_blue .b_dot{ background:url(http://www.hie.edu.cn/images/b_dot.jpg) no-repeat 18px 12px;}

.tit_red{ background: url(http://www.hie.edu.cn/images/bg_red.jpg) repeat-x center top; border-bottom:1px solid #a764de;}
.tit_red h2{ padding-left:40px; padding-top:12px;}
.tit_red .r_dot{ background:url(http://www.hie.edu.cn/images/r_dot.jpg) no-repeat 18px 14px;}


.w_320{ width:318px; height:auto;}
.w_320 .pad_10{ padding:15px 10px 10px;}
.w_320 ul{ margin:15px 0 0 0; line-height:22px;}
.img_90{ width:90px; height:90px;}
.w_190{ width:195px;}
.w_190 h2{ font-weight:normal; font-size:12px; margin-bottom:8px;}
.w_320 span{ color:#999; display:inline; float:right;}
.w_190 .line_24{ line-height:22px; color:#666; margin-top:5px;}
.w_190 .line_24 a{ color:#cc0000}
.w_320 .pad_t{ padding:0 10px 10px;}
.w_320 .pad_t ul{ line-height:24px;}
.w_320 .pad_t li{background:url(http://www.hie.edu.cn/images/dot.jpg) no-repeat left 10px;}
.txt{}
.txt ul{ line-height:24px;}
.txt li{background:url(http://www.hie.edu.cn/images/dot.jpg) no-repeat left 10px;}
.img_140{ width:140px; margin-left:20px; margin-top:15px; height:202px; background:url(http://www.hie.edu.cn/images/img_bg.jpg) no-repeat center bottom;}
.w_290{ width:325px;}
.t_cont{ margin:15px 20px 0; padding:0 5px 10px 15px; height: auto; background:#FDF3FC;}
.t_cont h2{ font-size:12px; color:#FFF; background:#0073CA; padding:5px 8px; font-weight:normal; float:left;}
.t_cont .h_cont{ height:60px; overflow:auto; margin-top:10px;}
.t_cont .h_cont ul{ line-height:28px;}
.t_cont .h_cont li{ background:none; padding-left:0; width:180px; float:left;white-space:nowrap; overflow:hidden;}
.t_cont .h_cont li a{ color:#0072c6}
.t_cont .h_cont dl{ line-height:28px;}
.t_cont .h_cont dt{width:180px; float:left; white-space:nowrap; overflow:hidden;}
.t_cont .h_cont dd{ white-space:nowrap; overflow:hidden;margin-right:40px; float:left;}
.t_cont .h_cont a{ color:#0072c6}

.copyright{ background:url(http://www.hie.edu.cn/images/bot.jpg) repeat-x center top; height:118px; margin:20px auto 0; color:#FFF}
.copyright .main{ margin:0  auto; padding-top:25px; position:relative;}
.copyright .line_24{ padding-left:300px; margin-top:-10px;}
.copyright a{ color:#86dffc}
.img_wx{ width:90px; top:12px; left:650px; position: absolute}
.img_wx img{ padding:5px; background:#FFF; margin-bottom:5px;}

.list_l{ width:228px; border:1px solid #CDE8FB; background:#F0F7FD;}
.list_l ul{ font-family:"Microsoft YaHei", "微软雅黑", "SimHei", "黑体", "宋体"; font-size:24px;}
.list_l li{ background: none; padding-left:0; vertical-align:middle}
.list_l li a:link,.list_l li a:visited{ display:block; padding-left:35px; padding-bottom:12px; padding-top:10px;background:none; color:#0072c6;text-decoration:none;}
.list_l li a:hover,.list_l li a:active{ display:block;padding-left:35px;padding-bottom:12px; padding-top:10px;background:#0073C6;color:#fff;text-decoration: none;}

.list_r{ width:708px; padding:10px 20px;}
.list_r ul{ line-height:28px; margin:20px 15px 0; font-size:14px;}
.list_r ul span{ float:right; display:inline; color:#999}
.list_r li{background:url(http://www.hie.edu.cn/images/dot.jpg) no-repeat left 12px;}


.page_r{ width:750px;}

.current{ color:#0072c6; padding:8px 5px; border-bottom:1px solid #0072C5;}
.current a{ margin-left:10px; margin-right:10px;color:#0072c6;}
.current_bg{ background:#D5E8F7;border-bottom: none;padding:8px 10px; }

/*页码样式*/
#pagenav{font-family:"宋体";height:23px;line-height:23px;font-size:12px;margin:25px auto;padding:0px;text-align:center;}
a.npl:link,a.npl:visited,a.npl:hover,a.npl:active{color:#333333;text-decoration:none;border:1px solid #E5E5E5;padding:4px 7px 2px;background:#fff;} /*non page link*/
a.cpl:link,a.cpl:visited,a.cpl:hover,a.cpl:active{color:#fff;text-decoration:none;border:1px solid #3C95D9;padding:4px 7px 2px;background:#3C95D9;font-weight:normal;} /*current page link*/
a.pl:link,a.pl:visited{color:#333;text-decoration:none;border:1px solid #E5E5E5;padding:4px 7px 2px;background:#fff;font-weight:normal;}
a.pl:hover,a.pl:active {color:#fff;text-decoration:none;border:1px solid #3C95D9;padding:4px 7px 2px;background:#3C95D9;font-weight:normal;}


.page_wz{ padding:20px;}
.page_wz .bule_bor{ height:1px; background:#0072C5; margin:15px 0; overflow: hidden;}
.page_wz .line_24{ padding:20px 20px 0; line-height:26px; font-size:14px;}
.page_wz .line_24 p{ margin:5px 0}
.page_title{color:#333;font-size:25px;font-family:"黑体";margin:10px auto 0px;line-height:40px;text-align:center;}
.page_subtitle{color:#666;font-size:14px;font-weight:bold;margin:5px auto 0px;line-height:28px;text-align:center;}
.page_time{width:610px;margin:10px auto 10px;line-height:25px;text-align:center;color:#999;}
.page_time a:link,.page_time a:visited{color:#999;text-decoration: none}
.page_time a:hover{color:#f00;}


.page_wz .line_24 p a:link,.page_wz .line_24 p a:visited{color:#0066cc;}
.page_wz .line_24 p a:hover{color:#0066cc;}

.list_ty{ padding:10px 20px;}
.list_ty ul{ line-height:28px; margin:20px 15px 0; font-size:14px;}
.list_ty ul span{ float:right; display:inline; color:#999}
.list_ty li{background:url(http://www.hie.edu.cn/images/dot.jpg) no-repeat left 12px;}

.mar_t_10{ margin-top:10px;}
.pad_b_10{ padding-bottom:10px;}
.pad_10{ padding:10px;}
.mar_r_20{ margin-right:20px;}

.mar_t_20{ margin-top:20px;}
