{include file='common/header' /}

<form action="#">
    <div class="container">
        <div class="top_bg">
            <div class="top"></div>
        </div>
        <div class="nav_bg">
            <div class="nav">
                <ul class="nav_item">
                    <li class="left"><a href="http://hie.eol.com.cn">网站首页</a><span>|</span></li>
                    <li class="left"><a href="/meeting/index.html">会议报名</a></li>
                </ul>
            </div>
        </div>
        <!-- 主体-->
        <div class="main">
            <div class="main_top">
                <div class="top_left left">
                    <img src="<?=__STATIC__?>imgs/position.png" alt=""/>
                    <span>
                        当前位置：<a href="http://hie.eol.com.cn">中国高等教育学会</a>＞
                        <a href="conference.html">会议报名</a>＞
                        <i class="gdjy1 curr">中国高等教育学会</i>
                        <i class="fzjg1 display-none">中国高等教育学会分支机构</i>
                        <i class="more1 display-none">更多分支机构</i>
                    </span>
                    <!--<input class="search" type="search" placeholder="搜索您感兴趣得会议"/>-->
                    <!--<img class="btn_search" src="<?=__STATIC__?>imgs/search.png" alt=""/>-->
                </div>
                <ul class="top_right right">
                    <li>欢迎登录</li>
                    <li>
                        <a class="userName">
                            你好j34w
                        </a>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="basicInfo.html">个人中心</a>
                        <span>|</span>
                    </li>
                    <li>
                        <a href="#">退出</a>
                    </li>
                </ul>
            </div>
            <div class="center">
                <div class="aside">
                    <div class="login">
                        <p class="organame">会员登录</p>
                        <div class="login_info">
                            <label for="username">
                                <span>用户名：</span><input id="username" class="txt" type="text"/>
                            </label>
                            <label for="userpwd">
                                <span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input id="userpwd" class="txt" type="password"/>
                            </label>
                            <label for="auto">
                                <input type="checkbox" id="auto"/><i>下次自动登录</i>
                            </label>
                            <p>
                                <input type="button" class="btn btn_login" value="登录" onclick="document.getElementById("myForm").submit()"/>
                                <input type="button" class="btn btn_reg" value="注册"   onclick="location.href='/user/register.html'"/>
                            </p>
                            <p class="forget"><a href="#">忘记密码</a></p>
                        </div>
                    </div>
                    <p class="organame">组织机构</p>
                    <ul>
                        <li class="gdjy curr">
                            <span>中国高等教育学会</span>
                            <s></s>
                        </li>
                        <li class="fzjg">
                            <span>中国高等教育学会分支机构</span>
                            <s></s>
                        </li>
                        <li class="more">
                            <span>更多分支机构</span>
                            <s></s>
                        </li>
                    </ul>
                </div>
                <div class="cont right" style="margin-right: 20px;">
                    <h3 class="gdjy1">中国高等教育学会</h3>
                    <h3 class="fzjg1 display-none">中国高等教育学会分支机构</h3>
                    <h3 class="more1 display-none">更多分支机构</h3>
                    <div id="gdjy" class="gdjy1 box">
                        <p class="doc">
                            <span>会议名称</span>
                            <span class="upload">单价</span>
                        </p>
                        <ul class="list">
                            <li>
                            <span class="title">
                                <b>2016年高等教育学会得通知</b><br/>
                                <span class="dark"><b>主办单位</b>：保健医学分会<b>&nbsp;2017-05-16&nbsp;05:37&nbsp;</b>开始报名</span>
                            </span>
                                <span class="date">￥1600.00</span>
                            </li>
                            <li>
                            <span class="title">
                                <b>“全面提升质量管理水平，全面提高教学综合改革成效”专题报告会</b><br/>
                                <span class="dark"><b>主办单位</b>：保卫学专业委员会<b>&nbsp;2017-05-16&nbsp;05:37&nbsp;</b>开始报名</span>
                            </span>
                                <span class="date">￥100.00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="footer">
                <div class="line_24">
                    <p><a href="http://hie.eol.com.cn/overview_12570/20150121/t20150121_993152.shtml">联系我们</a>｜相关链接：<a href="http://www.moe.edu.cn">中华人民共和国教育部</a></p>
                    <p>学会地址：北京市海淀区文慧园北路10号中教仪楼4层</p>
                    <p>联系电话：010-59893295　010-59893297　京ICP备10021028号</p>
                    <p>技术支持：<a href="http://www.eol.cn/">中国教育在线</a></p>
                </div>
                <div class="img_wx"><p align="center"><img src="<?=__STATIC__?>imgs/wx.jpg" width="72" height="72" /></p>
                    <p align="center">官方微信</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cover display-none"></div>
    <div class="coverWindow more_organize pop display-none">
        <p>
            <span>分支机构64家</span>
            <span class="close" style="z-index: 2000;">X</span>
        </p>
        <div class="cover_cont">
            <ul class="item">
                <li>
                    <ul>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                        <li><a href="#">保健医学分会<sup class="red">[10]</sup></a></li>
                        <li>出国留学教育管理分会<sup class="red"></sup></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="last">
            <input type="button" value="关闭" class="btn1 close"/>
        </div>
    </div>
</form>
</body>
</html>
<script>
    $(function(){
        $(".aside>ul>li").click(function(){
            $(this).siblings().removeClass("curr");
            $(this).addClass("curr");

            var c=$(this).attr("class").split(" ")[0];
            var cs= $("."+c+"1");
            cs.siblings("i").addClass("display-none");
            cs.siblings("h3").addClass("display-none");
//            cs.siblings("div").addClass("display-none");
            cs.removeClass("display-none");
        })

        $(".more").click(function(){
            $(".cover").removeClass("display-none");
            $(".coverWindow").removeClass("display-none");
            $(".close").click(function(){
                $(".cover").addClass("display-none");
                $(".coverWindow").addClass("display-none");
            });
        })
        $(".list>li").click(function(){
            window.open("notice_ydl.html");
        })
    })
</script>