{include file='common/header' /}
<div class="container">
    <div class="top_bg">
        <div class="top"></div>
    </div>
    <div class="nav_bg">
        <div class="nav">
            <ul class="nav_item">
                <li class="left"><a href="#">网站首页</a><span>|</span></li>
                <li class="left">
                    <a href="#">学会概况</a><span>|</span>
                    <ul>
                        <li><a href="#">学会简介</a></li>
                        <li><a href="#">现任领导</a></li>
                        <li><a href="#">历任领导</a></li>
                        <li><a href="#">组织机构</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </li>
                <li class="left">
                    <a href="#">学会活动</a><span>|</span>
                    <ul>
                        <li><a href="#">学会资讯</a></li>
                        <li><a href="#">学术活动</a></li>
                        <li><a href="#">通知公告</a></li>
                    </ul>
                </li>
                <li class="left">
                    <a href="#">会员服务</a><span>|</span>
                    <ul>
                        <li><a href="#">省级学会</a></li>
                        <li><a href="#">高校学会</a></li>
                        <li><a href="#">行业学会</a></li>
                        <li><a href="#">分支机构</a></li>
                        <li><a href="#">会员服务</a></li>
                    </ul>
                </li>
                <li class="left"><a href="#">高教视点</a><span>|</span></li>
                <li class="left"><a href="">政策法规</a><span>|</span></li>
                <li class="left">
                    <a href="#">学术观点</a><span>|</span>
                    <ul>
                        <li><a href="#">教育学人</a></li>
                        <li><a href="#">深度热点</a></li>
                        <li><a href="#">会刊精选</a></li>
                    </ul>
                </li>
                <li class="left"><a href="#">会议报名</a></li>
            </ul>
        </div>
    </div>
    <!-- 主体-->
    <div class="main">
        <div class="main_top">
            <div class="top_left left">
                <img src="<?=__STATIC__?>imgs/position.png" alt=""/>
                <span>
                        当前位置：<a href="#">中国高等教育学会</a>＞
                        <a href="#">会议报名</a>＞
                        <i class="gdjy1 display-none">中国高等教育学会</i>
                        <i class="fzjg1 curr">中国高等教育学会分支机构</i>
                        <i class="more1 display-none">更多分支机构</i>
                    </span>
                <!--<input class="search" type="search" placeholder="搜索您感兴趣得会议"/>-->
                <!--<img class="btn_search" src="<?=__STATIC__?>imgs/search.png" alt=""/>-->
            </div>
            <ul class="top_right right">
                <li>欢迎登录</li>
                <li>
                    <a class="userName">
                        你好j34w
                    </a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">我的订单</a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">个人中心</a>
                    <span>|</span>
                </li>
                <li>
                    <a href="#">退出</a>
                </li>
            </ul>
        </div>
        <div class="center left">
            <div class="aside left">
                <p class="organame">组织机构</p>
                <ul>
                    <li class="gdjy">
                        <span>中国高等教育学会</span>
                        <s></s>
                    </li>
                    <li class="fzjg curr">
                        <span>中国高等教育学会分支机构</span>
                        <s></s>
                    </li>
                    <li class="more">
                        <span>更多分支机构</span>
                        <s></s>
                    </li>
                </ul>
            </div>
            <div class="cont left">
                <h3 class="gdjy1 display-none">中国高等教育学会</h3>
                <h3 class="fzjg1 curr">中国高等教育学会分支机构</h3>
                <h3 class="more1 display-none">更多分支机构</h3>
                <div id="gdjy" class="gdjy1 box">
                    <p class="doc">
                        <span>会议名称</span>
                        <span class="upload">单价</span>
                    </p>
                    <ul class="list">
                        <li>
                                <span class="title">
                                    2016年高等教育学会得通知<br/>
                                    主办单位：保健医学分会&nbsp;2017-05-16&nbsp;05:37&nbsp;开始报名
                                </span>
                            <span class="date">￥1600.00</span>
                        </li>
                        <li>
                                <span class="title">
                                    “全面提升质量管理水平，全面提高教学综合改革成效”专题报告会<br/>
                                    主办单位：保卫学专业委员会&nbsp;2017-05-16&nbsp;05:37&nbsp;开始报名
                                </span>
                            <span class="date">￥100.00</span>
                        </li>
                    </ul>
                </div>
                <div id="fzjg" class="fzjg1 box display-none">
                    <p class="doc">
                        <span>会议名称</span>
                        <span class="upload">单价</span>
                    </p>
                    <ul class="list">
                        <li>
                                <span class="title">
                                    2016年高等教育学会得通知<br/>
                                    主办单位：保健医学分会&nbsp;2017-05-16&nbsp;05:37&nbsp;开始报名
                                </span>
                            <span class="date">￥1600.00</span>
                        </li>
                        <li>
                                <span class="title">
                                    “全面提升质量管理水平，全面提高教学综合改革成效”专题报告会<br/>
                                    主办单位：保卫学专业委员会&nbsp;2017-05-16&nbsp;05:37&nbsp;开始报名
                                </span>
                            <span class="date">￥100.00</span>
                        </li>
                    </ul>
                </div>
                <div id="more" class="more1 box display-none">
                    <p class="doc">
                        <span>会议名称</span>
                        <span class="upload">单价</span>
                    </p>
                    <ul class="list">
                        <li>
                                <span class="title">
                                    2016年高等教育学会得通知<br/>
                                    主办单位：保健医学分会&nbsp;2017-05-16&nbsp;05:37&nbsp;开始报名
                                </span>
                            <span class="date">￥1600.00</span>
                        </li>
                        <li>
                                <span class="title">
                                    “全面提升质量管理水平，全面提高教学综合改革成效”专题报告会<br/>
                                    主办单位：保卫学专业委员会&nbsp;2017-05-16&nbsp;05:37&nbsp;开始报名
                                </span>
                            <span class="date">￥100.00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="footer">
            <div class="line_24">
                <p><a href="http://hie.eol.com.cn/overview_12570/20150121/t20150121_993152.shtml">联系我们</a>｜相关链接：<a href="http://www.moe.edu.cn">中华人民共和国教育部</a></p>
                <p>学会地址：北京市海淀区文慧园北路10号中教仪楼4层</p>
                <p>联系电话：010-59893295　010-59893297　京ICP备10021028号</p>
                <p>技术支持：<a href="http://www.eol.cn/">中国教育在线</a></p>
            </div>
            <div class="img_wx"><p align="center"><img src="<?=__STATIC__?>imgs/wx.jpg" width="72" height="72" /></p>
                <p align="center">官方微信</p>
            </div>
        </div>
    </div>
</div>
<div class="cover display-none"></div>
<div class="coverWindow display-none">
    <p>
        <span class="center">分支机构64家</span>
        <span class="close" style="z-index: 2000;">X</span>
    </p>
    <div class="box_search">
        <input type="search" class="search" placeholder="搜索您感兴趣的会议"/><img src="<?=__STATIC__?>imgs/search2.png" alt="" class="btn_search"/>
    </div>
    <div class="cover_cont">
        <ul class="item">
            <li>
                <ul>
                    <li><a href="#">保健医学分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">保健医学分会</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">保健医学分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li><a href="#">保健医学分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                    <li><a href="#">出国留学教育管理分会</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
<script>
    $(function(){
        $(".aside>ul>li").click(function(){
            $(this).siblings().removeClass("curr");
            $(this).addClass("curr");

            var c=$(this).attr("class").split(" ")[0];
            var cs= $("."+c+"1");
            cs.siblings("i").addClass("display-none");
            cs.siblings("h3").addClass("display-none");
            cs.siblings("div").addClass("display-none");
            cs.removeClass("display-none");
        })

        $(".more").click(function(){
            $(".cover").removeClass("display-none");
            $(".coverWindow").removeClass("display-none");
            $(".close").click(function(){
                $(".cover").addClass("display-none");
                $(".coverWindow").addClass("display-none");
            });
        })
    })
</script>